$primary-color: #42A5F5;
$height: 40px;

.search-container {
    width: 100%;
}

.search-field {
    border: 1px solid #4F4F4F;
    height: $height;
    border-radius: 5px 0px 0px 5px;
    appearance: none;
    outline:0;
    box-sizing: border-box;
    width: 95%;
    font-size: 18px;
    padding-left: 15px;

    &:focus {
        border-color: mix($primary-color, #ffffff, 80%);
    }
}

.search-button {
    width: 5%;
    border-radius: 0px 5px 5px 0px;
    height: $height;
    box-sizing: border-box;
    border: 1px solid $primary-color;
    background: $primary-color;
    color: white;
    cursor: pointer;
    box-sizing: border-box;

}