<div class="app-container">
  <h1 class="title">Lista de filmes</h1>
  <app-search-input (search)="onSearch($event)"></app-search-input>
  <div class="movie-list">
    <app-movie-list *ngFor="let item of movies" [movie]="item" [score]="item.vote_average" [popularity]="item.popularity"></app-movie-list>
  </div>
  <app-pagination
    *ngIf="movies.length > 0"
    [total]="totalPages"
    [current]="page"
    (goTo)="onGoTo($event)"
    (next)="onNext($event)"
    (previous)="onPrevious($event)">
  </app-pagination>
</div>